//Font Face

@font-face {
	font-family: 'nunitoblack';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-black-webfont.woff2') format('woff2'), url('../fonts/nunito-black-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoblack_italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-blackitalic-webfont.woff2') format('woff2'), url('../fonts/nunito-blackitalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitobold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'), url('../fonts/nunito-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitobold_italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-bolditalic-webfont.woff2') format('woff2'), url('../fonts/nunito-bolditalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoextrabold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-extrabold-webfont.woff2') format('woff2'), url('../fonts/nunito-extrabold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoextrabold_italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/nunito-extrabolditalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoextralight';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-extralight-webfont.woff2') format('woff2'), url('../fonts/nunito-extralight-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoextralight_italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-extralightitalic-webfont.woff2') format('woff2'), url('../fonts/nunito-extralightitalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoitalic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-italic-webfont.woff2') format('woff2'), url('../fonts/nunito-italic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitolight';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-light-webfont.woff2') format('woff2'), url('../fonts/nunito-light-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitolight_italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-lightitalic-webfont.woff2') format('woff2'), url('../fonts/nunito-lightitalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoregular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'), url('../fonts/nunito-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitosemibold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-semibold-webfont.woff2') format('woff2'), url('../fonts/nunito-semibold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitosemibold_italic';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/nunito-semibolditalic-webfont.woff') format('woff');
}

// Headings

h1,
h2,
h3,
h4,
h5 {
	color: #000;
	font-family: 'nunitosemibold';
}

h1 {
	font-size: 26px;
	line-height: 38px;
}

h1 {
	font-size: 22px;
	line-height: 30px;
}
