//Fallback Font Face

@font-face {
	font-family: 'nunitobold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'), url('../fonts/nunito-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitolight';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-light-webfont.woff2') format('woff2'), url('../fonts/nunito-light-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitoregular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'), url('../fonts/nunito-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'nunitosemibold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/nunito-semibold-webfont.woff2') format('woff2'), url('../fonts/nunito-semibold-webfont.woff') format('woff');
}

// Headings

h1,
h2,
h3,
h4,
h5 {
	color: #000;
	font-family: 'Avenir Next', 'nunitosemibold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1 {
	font-size: 26px;
	line-height: 38px;
}

h1 {
	font-size: 22px;
	line-height: 30px;
}
