// Global Styles
#welcome {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.btn {
	box-shadow: $shadow;
}

.btn-primary {
	color: #fff;
}

.chip-wrapper {
	overflow-x: auto;
	padding-bottom: 1rem;
	white-space: nowrap;
	width: 90vw;

	.chip {
		background-color: $light-gray;
		border: $borders;
		border-radius: 25px;
		color: #000;
		margin-right: 1rem;
	}
}

.no-shadow {
	box-shadow: none;
}
