// Shared Styles & Helpers

.btn {
	box-shadow: $shadow;
}

.btn-primary {
	color: #fff;
}

.btn-calculation {
	align-items: center;
	background: none;
	border: none;
	color: $orange;
	display: flex;
	font-size: 2rem;
	height: 1rem;
	padding: 0 1rem;
}

.chip-wrapper {
	overflow-x: auto;
	padding-bottom: 2rem;
	white-space: nowrap;
	width: 90vw;

	.chip {
		background-color: $light-gray;
		border: $borders;
		border-radius: 25px;
		color: #000;
		margin-right: 1rem;
	}
}

.no-shadow {
	box-shadow: none;
}

.counter-item {
	border: none;
	border-radius: $radius;
	padding: 1rem;

	&.item-selected {
		background-color: rgba($orange, 0.2);
	}

	.counter-name {
		font-size: 17px;
	}

	.counter-actions {
		p {
			font-size: 20px;
			font-weight: 600;
		}
	}
}
