// Welcome Page
#welcome {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

//Main Page
#main {
	#main-row {
		#main-header {
			.search-bar {
				margin-bottom: 2rem;
				margin-left: auto;
				margin-right: auto;
				max-width: 379px;

				.form-group {
					width: 100%;
				}

				.form-control {
					color: $sub-text;

					&:disabled,
					&[readonly] {
						background-color: #fff;
						opacity: 0.5;
					}
				}

				input {
					&:not(:focus) {
						border: none;
						border-radius: $radius;
						box-shadow: $shadow;
					}
				}
			}
		}

		#main-body {
			main {
				height: 100%;
			}

			.no-counters,
			.loading,
			.no-connection {
				height: 70vh;
			}
		}

		#main-footer {
			background: #fff;
			bottom: 2rem;
			left: 50%;
			margin-left: -50%;
			position: fixed;
			width: 100%;
		}
	}
}
