// Welcome Page
#welcome {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

//Main Page
#main {
	#main-row {
		height: 100vh;

		#main-header {
			flex-grow: 1;

			.search-bar {
				input {
					border: none;
					border-radius: $radius;
					box-shadow: $shadow;
				}
			}
		}

		#main-body {
			flex-grow: 5;

			main {
				height: 100%;
			}
		}

		#main-footer {
			flex-grow: 1;
			background: #fff;
			bottom: 0;
			max-width: 500px;
			position: fixed;
			width: 100%;
		}
	}
}
