#main {
	#main-row {
		#main-header {
			//flex-grow: 1;
		}

		#main-body {
			//flex-grow: 5;

			main {
				height: 100%;
			}
		}

		#main-footer {
			//flex-grow: 1;
			background: #fff;
			bottom: 0;
			max-width: 500px;
			position: fixed;
			width: 100%;
		}
	}
}
