//Variables

$orange: #ff9500;
$gray: #4a4a4a;
$mid-gray: #c4c4c4;
$light-gray: #ececec;
$borders: 1px solid #dcdcdf;
$radius: 0.5rem;
$popover-bg: #fafafa;
$sub-text: #888b90;

$shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
